<a href="{{site.root}}/program/eval.html"><div class="goldbox">
  <h1>
  Did you attend?</h1>
  <hr>
  Please fill the evaluation form
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  Hotel Marriott<br>
  Kalvebod brygge 5<br>
  DK-1560 København V
  <hr>
  <h1>DATE</h1>
  October 22<sup>nd</sup> 2014
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="CoDe CPH 2014 Venue: The Copenhagen Mariott Hotel" target="_blank" href="https://mapsengine.google.com/map/embed?mid=z8eP2sDPYpyg.kPJj_4MICoiM">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="{{site.root}}/images/CoDeCPH2014-venue.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="{{site.root}}/social/tweets.html"><img width="70px" style="float:right;" src="{{site.root}}/images/twitter-icon.png"></a>
  <a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="{{site.root}}/images/linkedin-icon.png"></a>
</div>
<div style="height:15px"></div>
<a href="http://codecph.eventbrite.com" target="_blank"><div class="goldbox">
  <h1>
  Register here</h1>
  <hr>
  We're looking forward to see you
</div></a>

<div style="height:15px"></div>

<div class="goldbox">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="{{site.root}}/sponsors/praqma.html"><img style="width:90px" src="{{site.root}}/images/sponsors/praqma_logo_3D-_small.png"/></a>
      </li>
      <li class="slides">
        <a href="{{site.root}}/sponsors/ca.html"><img style="width:90px" src="{{site.root}}/images/sponsors/CA_logo.png"/></a>
      </li>
    </ul>
  </div>
</div>
